.hero-container .hero-wrapper {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 24px;
}

.hero {
  padding: 0;
}

.hero h1 {
  margin: 24px 0;
  color: var(--text-color);
}

.hero picture {
  display: block;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

@media (width >= 900px) {
  .hero-container .hero-wrapper {
    padding: 0;
  }
}